<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="title-container">
      <div class="title-overlay">
        <div class="title"><%=json.transbay_part_1.Title%></div>
        <div class="deck"><%=json.transbay_part_1.Deck%></div>
        <div class="date">By <a href="emailto:jking@sfchronicle.com">John King</a></div>
        <div class="date"><%=json.transbay_part_1.Date%></div>
      </div>
    </div>

    <% json.transbay_part_1.text.forEach(function(d,didx){ %>
      <% if (d.type == "text") { %>
        <p><%=d.value %></p>
      <% } else if (d.type == "interactive"){ %>
        <div class="interactive">
          <div class="interactive-title"><%=d.value[0].Title%></div>
          <div class="interactive-deck"><%=d.value[0].Deck%></div>
          <div id="stick-here"></div>
          <div id="stick-me">
            <div id="floor-image">
              <img src="../assets/graphics/test_pano.jpg"></img>
            </div>
            <div class="item">
              <div class="photo" id="interactive-photo"></div>
              <div class="desc" id="interactive-desc"></div>
            </div>
          </div>
          <div id="stick-ph"></div>
        </div>
        <div id="stop-stick-here"></div>
      <% } %>
    <% }) %>

    <%= t.include("partials/_credits.html") %>
    <%= t.include("partials/_footer.html") %>

    <script>
      var floor1Data = <%= JSON.stringify(csv.Floor1) %>;
    </script>

    <script src="../app_part1.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
