<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_part1.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_part1.html") %>

    <div class="title-container">
      <div class="title-overlay">
        <div class="title"><%=json.transbay_part_1.Title%></div>
        <div class="deck"><%=json.transbay_part_1.Deck%></div>
        <div class="date">By <a href="mailto:jking@sfchronicle.com">John King</a></div>
        <div class="date"><%=json.transbay_part_1.Date%></div>
      </div>
    </div>

    <% json.transbay_part_1.text.forEach(function(d,didx){ %>
      <% if (d.type == "text") { %>
        <div class="text-block">
          <p><%=d.value %></p>
        </div>
      <% } else if (d.type == "timeline"){ %>
        <%= t.include("partials/_timeline.html") %>
      <% } else if (d.type == "interactive"){ %>
        <%= t.include("partials/_floorplan.html") %>
      <% } else if (d.type == "graphic"){ %>
        <div class="wide-inline-img">
          <img src="../assets/graphics/<%=d.value[0].Image%>"></img>
        </div>
      <% } else if (d.type == "flowchart"){ %>
        <div class="interactive interactive-flowchart">
          <div class="interactive-title"><%=d.value[0].Hed%></div>
          <div class="total-head">$2.59 Billion</div>
          <div class="chart-headings">
            <div class="chart-head left">Sources</div>
            <div class="chart-head right">Expenditures</div>
          </div>
          <div class="chart-div"></div>
          <div id="flowchart">
            <div id="flowchart-tooltip"></div>
          </div>
          <div class="flowchart credit">
            <div class="entry">Interactive producer: <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
          </div>
          <div class="flowchart source">
            <div class="entry">Source: <%=d.value[0].Source%></div>
          </div>
        </div>


      <% } %>
    <% }) %>

    <%= t.include("partials/_credits.html") %>
    <%= t.include("partials/_footer.html") %>

    <script>
      var timelineData = <%= JSON.stringify(json.transbay_timeline.timeline) %>
      var floorplanData = <%= JSON.stringify(json.transbay_interactive_text) %>
      var financialData = <%= JSON.stringify(csv.financialData) %>
    </script>

    <script src="../app_part1.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
