<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.js"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flickity@1.2/dist/flickity.css">
    <link rel="stylesheet" type="text/css" href="../style.css">


    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_part2.html") %>
    <%= t.include("partials/_analytics_part2.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_part2.html") %>

    <div class="title-container-part2">
      <div class="tower-landing-video mobilevid">
        <img src="../assets/photos/part2/landingtowermobile.gif"></img>
      </div>
      <video id="looper" class="tower-landing-video mobilevid" playsinline preload loop autoplay muted poster="../assets/photos/part2/backgroundtower.png">
        <source src="../assets/photos/part2/landingtowermobile.mp4" type="video/mp4" >
        <img class="bg-tower" src="../assets/photos/part2/backgroundtower.png">
      </video>
      <div class="tower-landing-video tabletvid">
        <img src="../assets/photos/part2/landingtowertablet.gif"></img>
      </div>
      <video id="looper" class="tower-landing-video desktopvid" playsinline preload loop autoplay muted poster="../assets/photos/part2/backgroundtower.png">
        <source src="../assets/photos/part2/landingtowerdesktop.mp4" type="video/mp4" >
        <img class="bg-tower" src="../assets/photos/part2/backgroundtower.png">
      </video>
      <div class="caption landing-part2"><span class="byline">Carlos Avila Gonzalez, The Chronicle</span></div>
      <div class="title-overlay">
        <div class="title">
          <div>Salesforce Tower</div>
          <div>a stark symbol</div>
          <div>of SF’s changing priorities</div>
        </div>
        <div class="author">By <a href="mailto:jking@sfchronicle.com">John King</a></div>
        <div class="date"><%=json.transbay_part_2.Date%></div>
      </div>
    </div>

    <% json.transbay_part_2.text.forEach(function(d,didx){ %>
      <% if (d.type == "text") { %>
        <p><%=d.value %></p>
      <% } else if (d.type == "infobox"){ %>
        <div id="infobox">
        	<p class="title">About the project</p>
        	<%=json.transbay_part_2.Infobox %>
        </div>
      <% } else if (d.type == "bythenumbers"){ %>
          <%= t.include("partials/_salesforce_by_the_numbers.html") %>
      <% } else if (d.type == "photo"){ %>

        <% if (d.value[0].Class == "Wide") { %>

          <div class="full-width-img">
            <img src="http://ww2.hdnux.com/photos/61/64/55/<%=d.value[0].PhotoID%>/5/1500x0.jpg"></img>
            <div class="caption"><%= d.value[0].Caption %><span class="byline"> <%= d.value[0].Photographer %></span></div>
          </div>

        <% } else if (d.value[0].Class == "Inline") { %>

          <div class="inline-img-container">
            <div class="inline-img">
              <img src="http://ww2.hdnux.com/photos/61/64/55/<%=d.value[0].PhotoID%>/5/1500x0.jpg"></img>
              <div class="caption"><%= d.value[0].Caption %><span class="byline"> <%= d.value[0].Photographer %></span></div>
            </div>
          </div>

        <% } else if (d.value[0].Class == "Float-left") { %>

          <div class="float-img-container">
            <div class="float-img left">
              <img src="http://ww2.hdnux.com/photos/61/64/55/<%=d.value[0].PhotoID%>/5/1500x0.jpg"></img>
              <div class="caption"><%= d.value[0].Caption %><span class="byline"> <%= d.value[0].Photographer %></span></div>
            </div>
          </div>

        <% } else if (d.value[0].Class == "Float-right") { %>

          <div class="float-img-container">
            <div class="float-img right">
              <img src="http://ww2.hdnux.com/photos/61/64/55/<%=d.value[0].PhotoID%>/5/1500x0.jpg"></img>
              <div class="caption"><%= d.value[0].Caption %><span class="byline"> <%= d.value[0].Photographer %></span></div>
            </div>
          </div>

        <% } %>

      <% } else if ( d.type == 'slideshow' ){ %>

          <div class="carousel slideshow js-flickity" data-flickity-options='{ "imagesLoaded": true }'>
            <% d.value.forEach(function(slide) { %>

             <div class="carousel-cell">
              <img src="http://ww2.hdnux.com/photos/61/64/55/<%= slide.image %>/3/1500x0.jpg">
              <div class="caption"><%= slide.caption %> <span class="byline"><%= slide.credit %></span></div>
            </div>

            <% }); %>

          </div>

      <% } else if (d.type == "towerinteractive"){ %>
        <%= t.include("partials/_scroll_tower.html") %>
      <% } else if (d.type == "timelinehistoricalbuildings"){ %>
        <%= t.include("partials/_timeline_historicalbuildings.html") %>
      <% } else if (d.type == "video1"){ %>
        <div class="video-wrapper">
          <iframe src="https://player.vimeo.com/video/241791675?autoplay=1&loop=1&background=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <div class="caption"><span class="byline">Carlos Avila Gonzalez, The Chronicle</span></div>
        </div>
      <% } else if (d.type == "graphic"){ %>
        <div class="float-img-container">
          <div class="float-img right vertical">
            <img src="<%=d.value[0].Image%>"></img>
          </div>
        </div>

      <% } %>
    <% }) %>

    <div class="author-credit"><p>John King is The San Francisco Chronicle’s urban design critic. Email: <a href="mailto:jking@sfchronicle.com">jking@sfchronicle.com</a> Twitter: <a href = "https://twitter.com/JohnKingSFChron" target="_blank">@JohnKingSFChron</a></p></div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var interactiveData = <%= JSON.stringify(json.salesforce_tower.pullouts) %>
      var statementsData = <%= JSON.stringify(json.salesforce_tower.statements) %>
    </script>


    <script src="../app_part2.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
