<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">

    <link rel="stylesheet" type="text/css" href="../style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_unfixed_nav.html") %>

    <div class="swiper-container flex-container">

      <div class="swiper-wrapper">

        <div class="swiper-slide intro" style="background-image: url('http://ww2.hdnux.com/photos/54/11/64/13486376/3/1500x1000.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat">
          <div class="inner-content">
            <div class="main-hed"><%=json.transbay_timeline.Hed%></div>
            <div class="main-deck"><%=json.transbay_timeline.Deck%></div>

            <div class="author">By <a href="mailto:jking@sfchronicle.com">John King</a></div>

            <div class="instructions">
              <span>Swipe right</span><br>
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <% json.transbay_timeline.timeline.forEach(function(t) { %>

          <% if (t.Type == "Text") { %>

            <div class="swiper-slide flex-slide">
              <div class="inner-content">
                <div class="year"><%= t.Year %></div>
                <div class="desc"><%= t.Text %></div>
              </div>
              <% if (t.Photographer){ %>
                <div class="caption floating"><%=t.Photographer%></div>
              <% } %>
            </div>

          <% } else if (t.Type == "Horizontal") { %>

            <div class="swiper-slide horizontal-slide">
              <div class="inner-content">
                <div class="year"><%= t.Year %></div>
                <div class="horizontal-img">
                  <img src="http://ww2.hdnux.com/photos/54/11/64/<%= t.Image %>/3/1500x1000.jpg"></img>
                  <div class="caption"><%=t.Photographer%></div>
                </div>
                <div class="desc"><%= t.Text %></div>
              </div>
            </div>

          <% } else if (t.Type == "Vertical") { %>

            <div class="swiper-slide vertical-slide">
              <div class="inner-content">
                <div class="year"><%= t.Year %></div>
                <div class="vertical-img">
                  <img src="http://ww2.hdnux.com/photos/54/11/64/<%= t.Image %>/3/1500x1000.jpg"></img>
                  <div class="caption"><%=t.Photographer%></div>
                </div>
                <div class="desc"><%= t.Text %></div>
              </div>
            </div>

          <% } else if (t.Type == "Wide") { %>

            <% console.log(t.ImageClass) %>

            <div class="bg swiper-slide <%=t.ImageClass%>" style="background-image: url('http://ww2.hdnux.com/photos/54/11/64/<%= t.Image %>/3/1500x1000.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat">
              <div class="overlay">
                <div class="year"><%= t.Year %></div>
                <div class="desc "><%= t.Text %></div>
              </div>

              <div class="caption floating"><%=t.Photographer%></div>
            </div>

          <% } %>

        <% }); %>

       <div class="swiper-slide conclusion-slide">

        <div class="inner-content">

         <div class="link-group">
           <p class="header">Read the story: </p>
           <p><a href="http://www.sfchronicle.com/food/article/San-Francisco-s-Anchor-Brewing-acquired-by-11729608.php" target="_blank">Anchor Brewing acquired by Sapporo</a></p>
         </div>

         <div class="link-group">
           <p class="header">Related Stories</p>
           <div><a href="http://www.sfchronicle.com/beer/article/Anchor-Brewing-celebrates-120-years-of-Steam-in-7291092.php" target="_blank">Anchor Brewing at 120: How an S.F. favorite survived Prohibition, bland beer era</a></div>
           <div><a href="http://www.sfchronicle.com/wine/article/Q-A-Fritz-Maytag-on-taking-over-Anchor-Brewing-6442879.php" target="_blank">Q&A: Fritz Maytag on taking over Anchor Brewing</a></div>
           <div><a href="http://projects.sfchronicle.com/2017/brewery-map/" target="_blank">The Ultimate NorCal Brewery Map</a></div>
         </div>

        <div class="link-group">
          <p class="header">Credits</p>
            <div class="entry">John King &bull;
              <a href="mailto:jking@sfchronicle.com">jking@sfchronicle.com</a> &bull;
              <a href = "https://twitter.com/JohnKingSFChron" target="_blank">@JohnKingSFChron</a>
            </div>
            <div class="entry">Bill Van Niekerken &bull;
              <a href="mailto:bvanniekerken@sfchronicle.com">bvanniekerken@sfchronicle.com</a> &bull;
              <a href = "https://twitter.com/BvnthV" target="_blank">@BvnthV</a>
            </div>
            <div class="entry">Emma O'Neill &bull;
              <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a> &bull;
              <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
            </div>
        </div>

      </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

    <script>
      var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: false,
        grabCursor: true,
        pagination: '.swiper-pagination',
        keyboardControl: true,
        mousewheelControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationType: 'progress'
      })
    </script>

    <script src="../app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
