<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <link rel="stylesheet" href="http://projects.sfchronicle.com/shared/js/photo-sphere-viewer.css">
    <script src="http://projects.sfchronicle.com/shared/js/three.min.js"></script>
    <script src="http://projects.sfchronicle.com/shared/js/uevent.js"></script>
    <script src="http://projects.sfchronicle.com/shared/js/doT.js"></script>
    <script src="http://projects.sfchronicle.com/shared/js/D.js"></script>
    <script src="http://projects.sfchronicle.com/shared/js/photo-sphere-viewer.js"></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_part3.html") %>
    <%= t.include("partials/_analytics_part3.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_part3.html") %>

    <%= t.include("partials/_neighborhoodmap.html") %>
    <%= t.include("partials/_audiotour.html") %>

    <%= t.include("partials/_footer.html") %>

    <script>
      var audio_info= <%= JSON.stringify(json.part_3_graphics.audiotour) %>
      var flyover_info= <%= JSON.stringify(json.part_3_graphics.flyover) %>
    </script>

    <script src="../app_part3.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
