<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.js"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flickity@1.2/dist/flickity.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_part1.html") %>
    <%= t.include("partials/_analytics_part1.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_part1.html") %>

    <div class="title-container-part1">
      <div class="background-photo">
        <img src="http://ww2.hdnux.com/photos/61/64/55/14092645/5/1500x0.jpg"></img>
        <div class="caption landing mobile"><span class="byline">Michael Short, Special to The Chronicle</span></div>
      </div>
      <div class="title-overlay">
        <div class="title"><%=json.transbay_part_1.Title%></div>
        <div class="deck"><%=json.transbay_part_1.Deck%></div>
        <div class="author">By <a href="mailto:jking@sfchronicle.com">John King</a></div>
        <div class="date"><%=json.transbay_part_1.Date%></div>
      </div>
      <div class="caption landing desktop"><span class="byline">Michael Short, Special to The Chronicle</span></div>
    </div>

    <% var flag = 0; %>


    <% json.transbay_part_1.text.forEach(function(d,didx){ %>
      <% if (d.type == "text") { %>
        <% if (flag == 1) { %>
          <div class="text-block bottom-page">
            <p><%=d.value %></p>
          </div>
        <% } else { %>
          <div class="text-block">
            <p><%=d.value %></p>
          </div>
        <% } %>
      <% } else if (d.type == "infobox"){ %>
        <%= t.include("partials/_infobox.html") %>
      <% } else if (d.type == "photo"){ %>

        <% if (d.value[0].Class == "Wide") { %>

          <div class="full-width-img">
            <img src="http://ww2.hdnux.com/photos/61/64/55/<%=d.value[0].PhotoID%>/5/1500x0.jpg"></img>
            <div class="caption"><%= d.value[0].Caption %><span class="byline"> <%= d.value[0].Photographer %></span></div>
          </div>

        <% } else if (d.value[0].Class == "Inline") { %>

          <div class="inline-img-container">
            <div class="inline-img">
              <img src="http://ww2.hdnux.com/photos/61/64/55/<%=d.value[0].PhotoID%>/5/1500x0.jpg"></img>
              <div class="caption"><%= d.value[0].Caption %><span class="byline"> <%= d.value[0].Photographer %></span></div>
            </div>
          </div>

        <% } else if (d.value[0].Class == "Float-left") { %>

          <div class="float-img-container">
            <div class="float-img left">
              <img src="http://ww2.hdnux.com/photos/61/64/55/<%=d.value[0].PhotoID%>/5/1500x0.jpg"></img>
              <div class="caption"><%= d.value[0].Caption %><span class="byline"> <%= d.value[0].Photographer %></span></div>
            </div>
          </div>

        <% } else if (d.value[0].Class == "Float-right") { %>

          <div class="float-img-container">
            <div class="float-img right">
              <img src="http://ww2.hdnux.com/photos/61/64/55/<%=d.value[0].PhotoID%>/5/1500x0.jpg"></img>
              <div class="caption"><%= d.value[0].Caption %><span class="byline"> <%= d.value[0].Photographer %></span></div>
            </div>
          </div>

        <% } %>

      <% } else if ( d.type == 'slideshow' ){ %>

          <div class="carousel slideshow js-flickity" data-flickity-options='{ "imagesLoaded": true }'>
            <% d.value.forEach(function(slide) { %>

             <div class="carousel-cell">
              <img src="http://ww2.hdnux.com/photos/61/64/55/<%= slide.image %>/3/1500x0.jpg">
              <div class="caption"><%= slide.caption %> <span class="byline"><%= slide.credit %></span></div>
            </div>

            <% }); %>

          </div>

      <% } else if (d.type == "timeline"){ %>
        <%= t.include("partials/_timeline.html") %>
      <% } else if (d.type == "interactive"){ %>
        <% flag = 1; %>
        <div class="story-continues-text">Story continues below.</div>
        <%= t.include("partials/_floorplan.html") %>
      <% } else if (d.type == "graphic"){ %>
        <div class="wide-inline-img desktop">
          <img src="../assets/graphics/<%=d.value[0].Image%>"></img>
        </div>
        <div class="inline-graphic mobile">
          <img src="../assets/graphics/<%=d.value[0].MobileImage%>"></img>
        </div>
      <% } else if (d.type == "flowchart"){ %>
        <div class="interactive interactive-flowchart">
          <div class="interactive-title"><%=d.value[0].Hed%></div>
          <div class="flowchart-instructions desktop"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Hover over chart to see dollar breakdowns.</div>
          <div class="flowchart-instructions mobile"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Click on chart to see dollar breakdowns.</div>
          <div class="total-head">$2.259 Billion</div>
          <div class="chart-headings">
            <div class="chart-head left">Sources</div>
            <div class="chart-head right">Expenditures</div>
          </div>
          <div class="chart-div"></div>
          <div id="flowchart">
            <div id="flowchart-tooltip"></div>
          </div>
          <div class="flowchart credit">
            <div class="entry">Interactive producer: <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
          </div>
          <div class="flowchart source">
            <div class="entry">Source: <%=d.value[0].Source%></div>
          </div>
        </div>


      <% } %>
    <% }) %>

    <div class="author-credit"><p>John King is The San Francisco Chronicle’s urban design critic. Email: <a href="mailto:jking@sfchronicle.com">jking@sfchronicle.com</a> Twitter: <a href = "https://twitter.com/JohnKingSFChron" target="_blank">@JohnKingSFChron</a></p></div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var timelineData = <%= JSON.stringify(json.transbay_timeline.timeline) %>
      var floorplanData = <%= JSON.stringify(json.transbay_interactive_text) %>
      var financialData = <%= JSON.stringify(csv.financialData) %>
    </script>

    <script src="../app_part1.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
