<div class="divider"></div>

<div class="credits">

  <div class="entry"><div>Interactive producer: </div>Emma O'Neill • <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a> • <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

  <div class="entry"><div>Reporter: </div>Erin Allday • <a href="mailto:eallday@sfchronicle.com">eallday@sfchronicle.com</a> • <a href = "https://twitter.com/erinallday" target="_blank">@erinallday</a></div>

  <div class="entry"><div>Photographer: </div>Santiago Mejia • <a href="mailto:smejia@sfchronicle.com">smejia@sfchronicle.com</a> • <a href = "https://www.instagram.com/santimejia_/" target="_blank">@santimejia_</a></div>

  <div class="entry"><div>Photo editors: </div>Russell Yip • <a href="mailto:ryip@sfchronicle.com">ryip@sfchronicle.com</a> & Anna Sarpieri  • <a href="mailto:asapieri@sfchronicle.com">asarpieri@sfchronicle.com</a></div>

  <div class="entry"><div>Producer: </div>Kimberly Chua • <a href="mailto:kchua@sfchronicle.com">kchua@sfchronicle.com</a> • <a href = "https://twitter.com/kimberlyachua" target="_blank">@KimberlyAChua</a></div>

  <div class="entry"><div>Copy editor: </div>Jen Thomas • <a href="mailto:jennifer.thomas@sfchronicle.com">jennifer.thomas@sfchronicle.com</a> • <a href = "https://www.twitter.com/JenMcTom/" target="_blank">@JenMcTom</a></div>

  </div>


</div>
