<div class="divider"></div>

<div class="credits">

  <div class="entry"><div>Reporter: </div>John King • <a href="mailto:jking@sfchronicle.com">jking@sfchronicle.com</a> • <a href = "https://twitter.com/JohnKingSFChron" target="_blank">@JohnKingSFChron</a></div>

  <div class="entry"><div>Photographers: </div>Santiago Mejia • <a href="mailto:smejia@sfchronicle.com">smejia@sfchronicle.com</a> • <a href = "https://www.instagram.com/santimejia_/" target="_blank">@santimejia_</a>
  <br>Michael Short • <a href="mailto:smejia@sfchronicle.com">smejia@sfchronicle.com</a> • <a href = "https://www.instagram.com/santimejia_/" target="_blank">@santimejia_</a>
  <br>Carlos Avila Gonzalez • <a href="mailto:smejia@sfchronicle.com">smejia@sfchronicle.com</a> • <a href = "https://www.instagram.com/santimejia_/" target="_blank">@santimejia_</a>
  </div>

  <div class="entry"><div>Graphic artist: </div>John Blanchard • <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>

  <div class="entry"><div>Interactive producers: </div>Emma O'Neill • <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a> • <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  <br>Lucio Villa • <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a> • <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
  </div>

  <div class="entry"><div>Producer: </div>Kimberly Chua • <a href="mailto:kchua@sfchronicle.com">kchua@sfchronicle.com</a> • <a href = "https://twitter.com/kimberlyachua" target="_blank">@KimberlyAChua</a></div>

  </div>


</div>
