<div class="interactive interactive-graphic">
  <div class="interactive-title"><%=json.transbay_interactive_text.Title%></div>
  <div class="interactive-deck"><%=json.transbay_interactive_text.Deck%></div>

  <div id="stick-here"></div>
  <div class="circleBase" id="highlightCircle"></div>
  <% json.transbay_interactive_text.stages.forEach(function(d,didx){ %>

    <div  class="floor-info" id="showfloor<%=didx%>">

      <div id="stick-ph<%=didx%>"></div>
      <div class="floor-image" id="floor<%=didx%>">
        <img src="../assets/graphics/<%=d.Plan%>" id="background-floor<%=didx%>">
        <img src='../assets/graphics/nada_background.png' id="overlay-floor<%=didx%>"></img>
        <div class="inset" id="inset<%=didx%>">
          <div class="inset-textblock" id="inset-textblock<%=didx%>"><%=d.Deck%></div>
          <div class="inset-image" id="inset-image<%=didx%>"></div>
          <div class="inset-caption" id="inset-caption<%=didx%>"></div>
        </div>
      </div>

      <div class="big-space-container">
        <div id="floor<%=didx%>marker0" class="update-marker  update-marker<%=didx%>"></div>
        <% d.images.forEach(function(im,imidx){ %>
          <div id="floor<%=didx%>marker<%=imidx+1%>" class="update-marker update-marker<%=didx%>"></div>
        <% }) %>
      </div>

    </div>

  <% }); %>
  <div id="stop-stick-here"></div>


  <div class="credits-container">
    <div class="credit floorplan">
      <div class="entry">Illustrator: <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a></div>
      <div class="entry">Interactive producer: <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
    </div>
    <div class="source">Source: <%=json.transbay_interactive_text.Source%></div>
  </div>
</div>
