<div class="interactive interactive-graphic">
  <div class="interactive-title"><%=json.transbay_interactive_text.Title%></div>
  <div class="interactive-deck"><%=json.transbay_interactive_text.Deck%></div>

  <div id="stick-here"></div>
  <% json.transbay_interactive_text.stages.forEach(function(d,didx){ %>

    <div  class="floor-info" id="showfloor<%=didx%>">

      <div class="floor-image" id="floor<%=didx%>">
        <img src="../assets/graphics/<%=d.Plan%>" id="background-floor<%=didx%>">
        <img src='../assets/graphics/<%=d.Plan%>' id="overlay-floor<%=didx%>"></img>
      </div>
      <div id="stick-ph<%=didx%>"></div>

      <div class="intro"><%=d.Deck%></div>

      <div class="intro"><%=d.FlowLines%></div>

      <div id="zoom-floor<%=didx%>">

        <% d.images.forEach(function(im,imidx){ %>

          <div class="inset <%=im.Class%>" id="stage<%=didx%>image<%=imidx%>">
            <div class="inset-image">
              <img src="../assets/photos/part1/<%=im.Image%>"></img>
            </div>
            <div class="inset-caption"><%=im.Caption%></div>
          </div>

        <% }); %>
      </div>

    </div>

  <% }); %>

  <div id="stop-stick-here"></div>
</div>
