<div class="number-box">

  <div class="number-hed">Salesforce Tower by the numbers</div>
  <div class="num-container">
    <div class="line"><span class="cat">Size:</span> <span class="num">61</span> stories, <span class="num">1,070</span> feet, <span class="num">1.42</span> million square feet</div>
    <div class="line"><span class="cat">Height of floors:</span> <span class="num">14</span> feet, <span class="num">9</span> inches</div>
    <div class="line"><span class="cat">Tons of steel:</span> <span class="num">12,000</span></div>
    <div class="line"><span class="cat">Curtain-wall panels:</span> about <span class="num">4,100</span></div>
    <div class="line"><span class="cat">Workers on-site, at peak:</span> <span class="num">800</span></div>
    <div class="line"><span class="cat">Parking spaces:</span> <span class="num">423 — 116</span> for cars, <span class="num">307</span> for bicycles</div>
    <div class="line"><span class="cat">Sidewalk security bollards:</span> <span class="num">137</span></div>
    <div class="line"><span class="cat">Restrooms:</span> <span class="num">128</span></div>
    <div class="line"><span class="cat">Elevators:</span> <span class="num">34</span>, including a public one to the transit center’s rooftop park</div>
    <div class="line"><span class="cat">Size of underground cistern to store rainwater:</span> <span class="num">50,000</span> gallons</div>
  </div>

</div>
