.credit, .source {
  max-width: 900px;
  margin: auto;
  &.floorplan {
    margin-top: 400px;
  }
  text-align: right;
}
.source {
  padding-top: 10px;
}
// .credits-container {
//   background: white;
// }

.floor-image {
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
  img {
    width: 100%;
  }
  &.fixed {
    position: fixed;
    top: 37px;
    left: 0;
    right: 0;
    z-index: -2;
  }
  height: auto;
  transition: visibility 200ms ease-in;
  transition: opacity 500ms ease-in;
}

#overlay-floor0, #overlay-floor1, #overlay-floor2, #overlay-floor3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  // transition: visibility 0ms ease-in !important;
  visibility: hidden;
}

// .floor-info {
//   margin-bottom: 300px;
// }

.interactive-graphic {
  .intro, .inset-caption {
    font-family: @med-graphics;
    line-height: 1.2;
  }
  .interactive-deck {
    padding: 20px 0 0 0;
    line-height: 1.2;
    @media @mobile {
      padding: 20px;
      font-size: 18px;
    }
  }
  .floor-title {
    text-align: center;
    margin: 20px auto;
    padding-top: 50px;
    @media @laptop {
      padding-top: 80px;
    }
    @media @tablet-horiz {
      padding-top: 50px;
    }
    color: @highlight;
    // text-transform: uppercase;
    border-bottom: 3px solid @highlight;
    width: 30%;
  }
  .intro {
    font-family: @block-graphics;
    font-size: 18px;
    max-width: 600px;
    width: 80%;
    margin: auto;
    padding: 30px;
    background: rgba(255,255,255,0.8);
    margin-bottom: 500px;
    margin-top: 50px;
    @media @mobile {
      margin-bottom: 200px;
      width: 100%;
    }
  }
  .inset-container {
    padding-bottom: 260px;
    margin-bottom: 37px;
  }
  #stage3image3 {
    margin-bottom: 300px;
    padding-bottom: 0;
  }
  .inset {
    max-width: 400px;
    text-align: right;
    background: rgba(255,255,255,0.6);
    // padding-bottom: 300px;
    // &.left {
    //   margin-left: 30px;
    //   margin-right: auto;
    // }
    // &.right {
      margin-right: 30px;
      margin-left: auto;
    // }
    img {
      width: 100%;
    }
    @media @mobile {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 300px;
      margin-bottom: 200px;
    }
  }
  .inset-caption {
    padding: 20px;
    padding-top: 10px;
    font-size: 18px;
  }
  img {
    width: 100%;
    transition: all 400ms ease-in;
  }
  margin: 100px auto;
  @media @mobile {
    margin: 0;
  }
  // margin-bottom: 200px;
}
