.floor-image {
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
  img {
    width: 100%;
  }
  &.fixed {
    position: fixed;
    top: 37px;
    left: 0;
    right: 0;
    z-index: -1;
  }
  height: auto;
}

// .floor-info {
//   margin-bottom: 300px;
// }

.interactive-graphic {
  .intro, .inset-caption {
    font-family: @med-graphics;
    line-height: 1.2;
  }
  .interactive-deck {
    padding: 20px 0 0 0;
    line-height: 1.2;
  }
  .floor-title {
    text-align: center;
    margin: 20px auto;
    padding-top: 50px;
    @media @laptop {
      padding-top: 80px;
    }
    @media @tablet-horiz {
      padding-top: 50px;
    }
    color: @highlight;
    // text-transform: uppercase;
    border-bottom: 3px solid @highlight;
    width: 30%;
  }
  .intro {
    max-width: 900px;
    width: 80%;
    margin: auto;
    padding: 30px;
    background: rgba(255,255,255,0.6);
    margin-bottom: 300px;
  }
  .inset {
    max-width: 400px;
    text-align: left;
    background: rgba(255,255,255,0.6);
    margin-bottom: 300px;
    margin-left: 30px;
    img {
      width: 100%;
    }
  }
  .inset-caption {
    padding: 20px;
    padding-top: 10px;
    font-size: 18px;
  }
  img {
    width: 100%;
    transition: all 250ms ease-in;
  }
  margin: 100px auto;
  // margin-bottom: 200px;
}
