
@highlight: #ec1c24;//#0D3B66;

.logo-link {
  padding-top: 7px;
}

.section-links {
  display: inline-block;
}

.divider {
  border-bottom: 1px solid @light-gray;
  max-width: 80%;
  margin: 70px auto 50px auto;
  @media @mobile {
    margin: 40px auto 30px auto;
  }
}

.title-container {
  text-align: center;
  height: 500px;
  background: @dark-gray;
  margin-bottom: 50px;
  .display-flex;
  .align-items(center);
  .justify-content(center);
  color: white;
  .title {
    margin-top: 5%;
    font-size: 30px;
  }
  .deck {
    padding-bottom: 30px;
  }
  .author {
      margin-top: 10px;
      font-size: 15px;
      text-align: center;
      margin-bottom:0;
  }
  .date {
      font-size: 15px;
      text-align: center;
      margin-bottom: 40px;
  }
}

.part2_link, .part3_link {
   pointer-events: none;
   cursor: default;
   color: @light-gray;
}
