<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_landing.html") %>
    <%= t.include("partials/_analytics.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_landing.html") %>

    <div class="title-container">
          <h1 class="title long landingtitle">Transbay Transformed</h1>
    </div>

    <div class="aboutcontainer">
      <div class="aboutlanding">
        <p style="text-align: center; font-size: 18px">Chronicle Urban Design Critic John King explores the changes reshaping the area between the Embarcadero and the Yerba Buena district.</p>
      </div>

      <div class="linkbox" style="border-top: 0;">
        <div class="linkimg" id="p1"><a href="<%= json.project.url + json.project.slug + json.project.p1_slug %>"><div class="overlay"><div class="linkdesc">Transbay Transit Center – a difficult journey</div></div></a></div>
        <div class="imgbtm"><span class="embolden">September 2017</span> The terminal is nearing completion and a new neighborhood has arisen, but ambitions are only partially realized with the future of rail uncertain.</div>
      </div>

      <div class="linkbox">
        <div class="linkimg" id="p2"><a href="<%= json.project.url + json.project.slug + json.project.p2_slug %>"><div class="overlay"><div class="linkdesc">Soaring Salesforce Tower</div></div></a></div>
        <div class="imgbtm"><span class="embolden">November 2017</span> Salesforce tower is a stark symbol of San Francisco's changing piorities. Probably we need another sentence here.</div>
      </div>

      <div class="linkbox">
        <div class="linkimg" id="p4"><a href="<%= json.project.url + json.project.slug + json.project.p4_slug %>"><div class="overlay"><div class="linkdesc">The Future: coming soon</div></div></a></div>
        <div class="imgbtm"><span class="embolden">TBD</span> Still to come: The new neighborhood growing up around the transit center.</div>
      </div>

    </div>

    <%= t.include("partials/_footer.html") %>

    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
